@use "@mixins" as *;

.root {
  padding-block: 160px;
  max-width: 1543px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.content {
  max-width: 658px;

  p {
    font-size: 18px;
    line-height: 1.5;
    color: #272d31;
    margin-block: 32px;
  }
}

.superHeadline {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 400;
  color: #637684;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;

  span {
    background: linear-gradient(to right, #d12a89, #288ed2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.link {
  font-family: var(--sf-pro-rounded-bold);
  color: #288ed2;
}

.buttons {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}
