@import "../../../../Mixins.scss";

.button {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  @include scaleAnimation;
  background-color: #288ed2;
  color: var(--white);
  border-radius: 99px;
  padding: 15px 40px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
