@use "@mixins" as *;

.root {
  padding-block: 160px;
  max-width: 1543px;
  margin-inline: auto;
  padding-inline: 80px;
}

.content {
  max-width: 940px;
  margin-left: auto;

  > p {
    font-size: 18px;
    line-height: 1.5;
    color: #576773;
    margin-block: 32px;
    text-align: right;
  }
}

.hexIcon {
  margin: 0 0 16px auto;
}

.title {
  text-align: right;
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;

  span {
    background: linear-gradient(to right, #d12a89, #288ed2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.list {
  display: flex;
  gap: 16px;
}

.item {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  h2 {
    font-family: var(--sf-pro-rounded-bold);
    font-size: 18px;
    line-height: 1.2;
    color: #288ed2;
    margin: 0 0 10px 0;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
    color: #576773;
    margin: 0 0 16px 0;
    flex-grow: 1;
  }

  svg {
    width: 32px;
    height: 32px;
    color: #0f9b81;
    align-self: center;
  }
}

// Tablet
@include mq(1200) {
  .root {
    padding-block: 120px;
    padding-inline: 40px;
  }

  .content {
    max-width: 100%;
  }

  .title {
    font-size: 36px;
  }

  .content > p {
    font-size: 16px;
  }

  .list {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .item {
    padding: 18px;
    max-width: 220px;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }
}

// Mobile
@include mq(768) {
  .root {
    padding-block: 64px;
    padding-inline: 20px;
  }

  .content {
    text-align: center;

    > p {
      text-align: center;
    }
  }

  .hexIcon {
    margin: 0 auto 16px auto;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .item {
    max-width: 100%;
    padding: 18px;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }
}
