.root {
  padding-bottom: 48px;
  text-align: center;
}

.link {
  display: inline-block;
  margin-bottom: 24px;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  text-align: center;
  color: #272d31;

  span {
    background: linear-gradient(90deg, #0f9b81, #288ed2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.subtitle {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #576773;
}
