@use "@mixins" as *;

.root {
  padding-block: 160px;
  max-width: 1543px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.content {
  max-width: 940px;
  text-align: center;
  margin-inline: auto;

  > p {
    font-size: 18px;
    line-height: 1.5;
    color: #576773;
    margin-block: 32px;
  }
}

.hexIcon {
  width: 180px;
  height: 207px;
  margin: 0 auto 32px;
  position: relative;
}

.hexSvg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 6px 16px rgba(106, 82, 177, 0.3));
}

.governanceIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;

  span {
    background: linear-gradient(to right, #d12a89, #288ed2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Tablet
@include mq(1200) {
  .root {
    padding-block: 120px;
  }

  .hexIcon {
    width: 137px;
    height: 158px;
  }

  .title {
    font-size: 36px;
  }

  .content > p {
    font-size: 16px;
  }
}

// Mobile
@include mq(768) {
  .root {
    padding-block: 64px;
    padding-inline: 20px;
  }

  .hexIcon {
    width: 98px;
    height: 113px;
    margin: 0 auto 16px;
  }

  .title {
    font-size: 32px;
  }

  .content > p {
    font-size: 14px;
  }
}
