@use "@mixins" as *;

.root {
  padding-block: 160px;
  max-width: 1543px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.content {
  max-width: 940px;
  text-align: center;
  margin-inline: auto;

  > p {
    font-size: 18px;
    line-height: 1.5;
    color: #576773;
    margin-block: 32px;
  }
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;

  span {
    background: linear-gradient(to right, #d12a89, #288ed2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
