.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
  color: #47545d;
}

.button {
  margin-inline: auto;
}

.error {
  margin-top: 32px;
  text-align: center;
}
