@use "@mixins" as *;

.root {
  padding-block: 160px;
  max-width: 1684px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.titleWrapper {
  position: relative;
  display: inline-block;
  padding-top: 96px;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;
  margin: 0;

  span {
    color: #755cba;
  }
}

.titleUnderline {
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 24px;
  overflow: visible;
}

.content {
  max-width: 522px;

  p {
    font-size: 18px;
    line-height: 1.5;
    color: #272d31;
    margin-top: 32px;
  }
}

.buttons {
  margin-top: 32px;
  display: flex;
  gap: 32px;
}
