@use "@mixins" as *;

.root {
  padding-block: 160px;
  padding-inline: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.content {
  max-width: 658px;

  p {
    font-size: 18px;
    line-height: 1.5;
    color: #272d31;
    margin-block: 32px 0;

    span {
      color: #288ed2;
    }
  }
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;
  margin: 0;
}

.diagramContainer {
  width: 100%;
  max-width: 1100px;
}

.diagram {
  width: 100%;
  height: auto;
}

// Tablet
@include mq(1200) {
  .root {
    padding-inline: 40px;
  }

  .title {
    font-size: 36px;
  }

  .content p {
    font-size: 16px;
  }
}

// Mobile
@include mq(768) {
  .root {
    padding-block: 80px;
    padding-inline: 20px;
    gap: 32px;
  }

  .title {
    font-size: 32px;
  }

  .content p {
    font-size: 14px;
  }

  .diagramContainer {
    overflow-x: auto;
    min-width: 100%;
  }

  .diagram {
    min-width: 500px;
  }
}
