@use "../../../mixins" as *;

.noBackground,
.hasBackground {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  @include scaleAnimation;
}

.noBackground {
  font-weight: 700;
  color: #288ed2;
  padding: 16px;
}

.hasBackground {
  font-family: var(--sf-pro-rounded-bold);
  background-color: #288ed2;
  color: var(--white);
  border-radius: 99px;
  padding: 15px 40px;
}
