@use "@mixins" as *;

.root {
  padding-top: 96px;
  padding-bottom: 240px;
  max-width: 1543px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.content {
  flex: 1 0 728px;

  p {
    font-size: 18px;
    line-height: 1.5;
    color: #272d31;
    margin-block: 32px;
  }
}

.super-headline {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 400;
  color: #637684;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;

  span {
    color: #0f9b81;
  }
}
