@use "../../../mixins" as *;

.root {
  text-align: center;
  background-color: #ffd74d;
  margin-inline: -16px;
  display: grid;
}

.wrapper,
.melting {
  grid-area: 1/1;
}

.melting {
  order: -1;
}

.butteryAI {
  margin-inline: auto;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 75px;
  color: #272d31;
  margin-block: 32px;

  span {
    background: linear-gradient(to right, #ffd74d, #0f9b81);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.buttons {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.copyright {
  color: #cdac2f;
  text-align: left;
  padding-left: 32px;
  padding-bottom: 32px;
}
